<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-card>
    <img src="assets/imgs/movi.jpg" (click)="openPeliculas()"/>
    <div class="card-title">Peículas</div>
  </ion-card>
  <ion-card>
    <img src="assets/imgs/tv.jpg" (click)="openSeries()"/>
    <div class="card-title">Series</div>
  </ion-card>
</ion-content>
