<ion-header>

  <ion-navbar>
    <ion-title>peliculas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="card-background-page">

  <ion-card *ngFor="let pelicula of peliculas">
    <img [src]="imagen + pelicula.backdrop_path"/>
    <div class="card-title">{{pelicula.title}}</div>
  </ion-card>
  <ion-infinite-scroll (ionInfinite)="getPeliculas()">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
